.DS_Store
.shake.database
dist/
.cabal-sandbox/
cabal.sandbox.config
html/
depr/
auto/
*.o
*.hi
*.agdai
*.aux
*.bbl
*.blg
*.log
*.ptb
*.ind
*.out
*.pdf
flycheck_*
flycheck_*
TAGS
QUESTIONS.pdf
Prover/Main
esslli2015/main.tex
src/Everything.agda
src/Logic/Intuitionistic/Unrestricted/Lambda/Type.agda
src/Logic/Intuitionistic/Unrestricted/Lambda/Type/
src/Logic/Intuitionistic/Linear/Lambda/Base.agda
src/Logic/Intuitionistic/Linear/Lambda/Permute.agda
src/Logic/Intuitionistic/Ordered/Lambek.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/
src/Logic/Intuitionistic/Ordered/Lambek/Structure.agda
src/Logic/Intuitionistic/Ordered/Lambek/Structure/
src/Logic/Intuitionistic/Ordered/Lambek/Judgement.agda
src/Logic/Intuitionistic/Ordered/Lambek/Judgement/
src/Logic/Intuitionistic/Ordered/Lambek/Base.agda
src/Logic/Intuitionistic/Ordered/Lambek/Derivation.agda
src/Logic/Intuitionistic/Ordered/Lambek/Origin.agda
src/Logic/Intuitionistic/Ordered/Lambek/Trans.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/
src/Logic/Intuitionistic/Ordered/Lambek/FocPol/
src/Logic/Intuitionistic/Ordered/Lambek/EquivalentToResMon.agda
src/Logic/Classical/Ordered/Lambek/
src/Logic/Classical/Unrestricted/LambdaCMinus/Type.agda
src/Logic/Classical/Unrestricted/LambdaCMinus/Type/
src/Logic/Classical/Ordered/Experimental/Base.agda
src/Logic/Classical/Ordered/Experimental/Judgement.agda
src/Logic/Classical/Ordered/Experimental/ResMon.agda
src/Logic/Classical/Ordered/Experimental/ResMon/Base.agda
src/Logic/Classical/Ordered/Experimental/ResMon/Judgement.agda
src/Logic/Classical/Ordered/Experimental/ResMon/Judgement/
src/Logic/Classical/Ordered/Experimental/ResMon/Origin.agda
src/Logic/Classical/Ordered/Experimental/Structure.agda
src/Logic/Classical/Ordered/Experimental/Structure/
src/Logic/Classical/Ordered/Experimental/ToResMon.agda
src/Logic/Classical/Ordered/Experimental/Type.agda
src/Logic/Classical/Ordered/Experimental/Type/
src/MAlonzo/
src/QuantifierRaising

src/Logic/Classical/Ordered/Experimental/Judgement/ToLaTeX.agda
src/Logic/Classical/Ordered/Experimental/ResMon/ToLaTeX.agda
src/Logic/Intuitionistic/Linear/Lambda/ToLaTeX.agda
Setup.hs
src/Logic/Classical/Ordered/Experimental/ToLaTeX.agda
_build/
src/Logic/Classical/Ordered/Experimental/ResMon/ToAgda.agda
src/Logic/Classical/Ordered/Experimental/ResMon/ToIntuitionisticLinearLambda.agda
