.DS_Store
.shake.database
old
html
depr
*.o
*.hi
*.agdai
TAGS
src/Everything.agda
src/Logic/Classical/Linear/LambdaCMinus/Base.agda
src/Logic/Classical/Linear/LambdaCMinus/Judgement.agda
src/Logic/Classical/Linear/LambdaCMinus/Type.agda
src/Logic/Classical/Linear/LambdaCMinus/Type/Complexity.agda
src/Logic/Classical/Ordered/LambdaCMinus/Type.agda
src/Logic/Classical/Ordered/LambdaCMinus/Type/Complexity.agda
src/Logic/Intuitionistic/Ordered/Lambek.agda
src/Logic/Intuitionistic/Ordered/Lambek/Base.agda
src/Logic/Intuitionistic/Ordered/Lambek/Derivation.agda
src/Logic/Intuitionistic/Ordered/Lambek/Judgement.agda
src/Logic/Intuitionistic/Ordered/Lambek/Judgement/Context.agda
src/Logic/Intuitionistic/Ordered/Lambek/Judgement/Context/Polarised.agda
src/Logic/Intuitionistic/Ordered/Lambek/Origin.agda
src/Logic/Intuitionistic/Ordered/Lambek/Trans.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/Complexity.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/Context/Polarised.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/Context.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/Polarised.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/Subtype.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Base.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Derivation.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Judgement.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Judgement/Context.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Judgement/Context/Polarised.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Origin.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/Trans.agda
prover/LGprover
