.DS_Store
.shake.database
old
html
depr
*.o
*.hi
*.agdai
TAGS
src/Everything.agda
src/Logic/Classical/Unrestricted/LambdaCMinus/Type.agda
src/Logic/Classical/Unrestricted/LambdaCMinus/Type/
src/Logic/Intuitionistic/Unrestricted/Lambda/Type.agda
src/Logic/Intuitionistic/Unrestricted/Lambda/Type/
src/Logic/Intuitionistic/Linear/Lambda/Base.agda
src/Logic/Intuitionistic/Linear/Lambda/Permute.agda
src/Logic/Intuitionistic/Ordered/Lambek.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type.agda
src/Logic/Intuitionistic/Ordered/Lambek/Type/
src/Logic/Intuitionistic/Ordered/Lambek/Structure.agda
src/Logic/Intuitionistic/Ordered/Lambek/Structure/
src/Logic/Intuitionistic/Ordered/Lambek/Judgement.agda
src/Logic/Intuitionistic/Ordered/Lambek/Judgement/
src/Logic/Intuitionistic/Ordered/Lambek/Base.agda
src/Logic/Intuitionistic/Ordered/Lambek/Derivation.agda
src/Logic/Intuitionistic/Ordered/Lambek/Origin.agda
src/Logic/Intuitionistic/Ordered/Lambek/Trans.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon.agda
src/Logic/Intuitionistic/Ordered/Lambek/ResMon/
src/Logic/Intuitionistic/Ordered/Lambek/Normal/
src/Logic/Classical/Linear/LambekGrishin/Type.agda
src/Logic/Classical/Linear/LambekGrishin/Type/
src/Logic/Classical/Linear/LambekGrishin/Structure.agda
src/Logic/Classical/Linear/LambekGrishin/Structure/
src/Logic/Classical/Linear/LambekGrishin/Judgement.agda
src/Logic/Classical/Linear/LambekGrishin/Base.agda
src/Logic/Classical/Linear/LambekGrishin/Normal/
src/Logic/Classical/Unrestricted/LambekGrishin/Type.agda
src/Logic/Classical/Unrestricted/LambekGrishin/Type/
src/Logic/Classical/Unrestricted/LambekGrishin/Structure.agda
src/Logic/Classical/Unrestricted/LambekGrishin/Structure/
src/Logic/Classical/Unrestricted/LambekGrishin/Judgement.agda
src/Logic/Classical/Unrestricted/LambekGrishin/Normal/
prover/prover
prover/proof.agda
prover/proof.aux
prover/proof.log
prover/proof.out
prover/proof.pdf
prover/proof.pl
prover/proof.tex
